<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Log In</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/rsvp.css">
        <link rel="icon" type="image/png" href="/static/images/rsvp.png">
    </head>
    <body>
        <div class="container">
            <div class="row form-group">
                <form action="/logout" method="post">
                    <div class="col-md-1 col-md-offset-11 col-xs-3 col-xs-offset-9">
                        <button class="btn btn-danger" type="submit">Log out</button>
                    </div>
                </form>
            </div>
            <div class="row form-group">
                <div class="col-xs-10 col-xs-offset-1">
                    <img id="header-img" src="/static/images/header.jpg"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <h2>Please come celebrate with us:</h2>
                    <h3>5:00 p.m. on July 30th 2022</h3>
                    <h3>Eagle Hills Golf Course</h3>
                    <h3>605 N Edgewood Ln</h3>
                    <h3>Eagle, ID 83616</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <div>The only present we want is your presence. Please do not bring wedding gifts.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <div class="text-right"><a class="btn btn-primary" href="/rsvp">Continue to RSVP</a></div>
                </div>
            </div>
        </div>
    </body>
</html>