<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>RSVP</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/rsvp.css">
        <link rel="stylesheet" href="/static/lib/toastr/toastr.min.css" />
        <link rel="icon" type="image/png" href="/static/images/rsvp.png">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <form action="/logout" method="post">
                    <div class="col-md-1 col-md-offset-11 col-xs-3 col-xs-offset-9">
                        <button class="btn btn-danger" type="submit">Log out</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h2>Please select which entrée you will have at our wedding:</h2>
                    <div>All entrées include a salad and a dinner roll.</div>
                    <h3>Classic Caesar Salad</h3>
                    <div>Romaine, Garlic Croutons, Shaved Parmesan Cheese, Classic Caesar Dressing</div>
                    <h2>Entrées</h2>
                    <h3>Chicken Champignon</h3>
                    <div>Dredged Chicken Breast Sauteed with a Creamy Mushroom and Onion Gravy, Fresh Parsley.
                        Served with Parmesan Roasted Red Potatoes and Grilled Asparagus
                    </div>
                    <h3>Herb Roasted Pork Loin</h3>
                    <div>Sliced Pork Loin, Herbs de Provence, Brie Cream Sauce.
                        Served with Parmesan Roasted Red Potatoes and Grilled Asparagus
                    </div>
                    <h3>Vegan Tofu Stir Fry</h3>
                    <div>Fried Tofu, Sugar Snap Peas, Red Onion, Brown Sugar and Ginger Soy Sauce.
                        Served with Steamed Basmati Rice</div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 margin-bottom-10">
                    We will consider your selection of an entrée to be your RSVP. You can change your selection at any time
                    by returning to this website, but your final selection must be made by the end of June.
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                    <form class="form-horizontal" action="/rsvp" method="post">
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-5">Entrée</label>
                                <div class="col-md-7">
                                    <select id="entree" name="entree" class="form-control">
                                        <option value="" disabled selected>Choose one...</option>
                                        <option value="chicken">Chicken Champignon</option>
                                        <option value="pork">Herb Roasted Pork Loin</option>
                                        <option value="vegan">Vegan Tofu Stir Fry</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-5 text-left">If you need modifications to your food, request them here</label>
                                <div class="col-md-7">
                                    <textarea id="modifications" name="modifications" class="form-control" rows="3" placeholder="Dressing on side"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 text-left">
                                <a class="btn btn-default" href="/header">Back</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button id="submit-rsvp" class="btn btn-primary" type="button" onclick="submitRsvp()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/toastr/toastr.min.js"></script>
        <script src="/static/js/rsvpCtrl.js"></script>
    </body>
</html>